/* css styles for slides */

.terminal {
  background-color: #1e1e1e;
  color: #33ff33;
  font-family: "Courier New", monospace;
  padding: 10px;
  border-radius: 5px;
  white-space: pre-wrap; /* Préserve les espaces et les sauts de ligne */
  font-size: 25px;
}

.terminal::before {
  content: "$ ";
  color: #ffcc00;
}
